

body {
  height: 100%;
}


.v-link-active {
    color: red;
}

[v-cloak] { display: none }

.ffff {
  position:absolute; left: 25px; right: 25px; bottom: 30px;
  font-family: helvetica;
  font-size: 12px;
}
